**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.env
.venv
/env
/venv
ENV/
env.bak/
venv.bak/
.env.*
!.env.example
*.env
dev/.env
stage/.env
prod/.env
.env
.env.*
!.env.example
*.env
dev/.env
stage/.env
prod/.env
__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
charts/*.tgz
charts/
!charts/.gitkeep
.helm/
MANIFEST
