[defaults]
remote_user = ubuntu
stdout_callback = yaml
inventory = ./inventory
roles_path = ./roles
host_key_checking = False
display_skipped_hosts = False

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no UserKnownHostsFile=/dev/null
pipelining = True