fastapi
python-jose[cryptography]
passlib[bcrypt]
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
psycopg2-binary
alembic
asyncpg
psycopg2-binary
python-multipart
boto3
botocore
python-dotenv
pytest